---
import Layout from "../layouts/Layout.astro";

//static
export const prerender = true;
---

<Layout title="Page non trouvée">
  <h1>Page non trouvée</h1>

  <p class="paragraphe">Désolé, mais cette page n'existe pas.</p>
  Vous pouvez toujours retourner à la page d'accueil, en utilisant le lien ci-dessous.
</Layout>

<a href="" class="link">Retourner à la page d'accueil</a>
