---
import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
---

<footer style="height: 7dvh;background-color: #141528;">
  <section class="header-container" style="height: 100%;">
    <div
      class=""
      style="background-color: rgba(0, 0, 0, 0.2);text-align: center;display: flex; justify-content: center; align-items: center; height: 100%;"
    >
      © 2024 Copyright: 
      <a class="text-white"style="color:white ;margin-left:12px ; text-decoration: none;" target="_blank" href="https://hotz-cedric.fr/"> HOTZ Cédric</a>
    </div>
  </section>

  <style></style>
</footer>
